@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #111111;
    overflow-x: hidden;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 500%;
    letter-spacing: 0px;
    line-height: 90%;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 350%;
    letter-spacing: -0.5px;
    line-height: 90%;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.top-nav-desktop, .top-nav-form-page {
    width: 100vw;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 999;
  }

.top-nav-desktop h2 {
      font-size: 36px;
      color: #fff;
      display: inline-block;
      letter-spacing: 6px;
      margin-left: 20px;
      margin-bottom: 0px;
    }
    
.top-nav-desktop a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.top-nav-desktop a:hover {
    background-color: #ddd;
    color: black;
  }
  
.top-nav-desktop a.active {
    background-color: #04AA6D;
    color: white;
  }

.top-nav-desktop ul {
    list-style-type: none;
    display: flex;
    float: right;
    line-height: 40px;
}

.top-nav-desktop li {
    list-style-type: none;
    display: inline-block;
}

.top-nav-form-page h2 {
    font-size: 36px;
    color: #fff;
    display: inline-block;
    letter-spacing: 6px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
  
.top-nav-form-page a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-nav-form-page a:hover {
  background-color: #ddd;
  color: black;
}

.top-nav-form-page a.active {
  background-color: #04AA6D;
  color: white;
}

.top-nav-form-page ul {
  list-style-type: none;
  display: flex;
  float: right;
  line-height: 40px;
}

.top-nav-form-page li {
  list-style-type: none;
  display: inline-block;
}

.top-nav-burger {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
  }
  
  .top-nav-burger #topNavLinks {
    display: none;
  }
  
  .top-nav-burger a {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    line-height: 30px;
  }
  
  .top-nav-burger a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 40px;
  }
  
  .top-nav-burger a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .pre-order-button {
    background-color: #04AA6D;
    color: white;
  }

  .top-nav-burger .cta {
      background-color: #04AA6D;
  }

 .logo {
    font-size: 36px;
    color: #fff;
    display: inline-block;
    letter-spacing: 6px;
    margin-left: 20px;
    padding: 10px;
 } 
  
img {
    max-width: 100%;
    max-height: 500px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    color: #fff !important;
    text-align: center;
    background-color: #04AA6D;
    border: 2px transparent solid;
}
    
 .button:hover{
    color: #000 !important;
    background-color: transparent;
    border: 2px black solid;
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    background: url('../images/product-hero-desktop-2000x650px.png') center center;
    background-size: cover;
}

.hero-price {
    font-size: 26px;
    margin-top: 20px;
}

.text-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}

.hero .content {
    position: relative;
    max-width: 35%;
    margin-left: 10%;
}

.features-row {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-bottom: 20px;
}

.features-row:after {
    content: "";
    display: table;
    clear: both;
}

.text-content-left {
    float: left;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: translate(-10%, -50%);
    transform: translate(-10%, -50%);
}

.media-content-right {
    float: right;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
}

.text-content-right {
    float: right;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 10%;
    -ms-transform: translate(10%, -50%);
    transform: translate(10%, -50%);
}

.media-content-left {
    float: left;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
}

.features-content {
    position: relative;
    max-width: 70%;
    margin-left: 10%;
}

.features-content ul {
    margin-left: 20px;
}

.three-images {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.three-images .image-1 {
    background-image: url('../images/product-square-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 33.33vw;
}

.three-images .image-2 {
    background-image: url('../images/product-square-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 33.33vw;
}

.three-images .image-3 {
    background-image: url('../images/product-square-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 33.33vw;
}

.three-images img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
    float: left;
    display: block;
}

.color-container {
    padding: 40px;
    height: auto;
}

.color-circle-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    text-align: center;
}

.color-circle-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    text-align: center;
    margin-top: 50px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
}

.color-circle  {
    width: 150px;
    height: 150px;
    border: 2px #cccccc solid;
    border-radius: 50%;
    display: inline-block;
    line-height: 360px;
    margin: 0 20px;
    text-align: center;
}

#green {
    background-color: #48502b;
}

#white {
    background-color: #fff;
}

#yellow {
    background-color: #ffb308;
}

#blue {
    background-color: #3273ad;
}

.table-container {
    margin-top: 20px;
    width: 70%;
    margin: 40px auto;
}

.spec_table {
    display: table;
    table-layout: fixed;
    border-top: 2px solid #000;
    width: 100%;
}

.spec_row {
    display: table-row;
}

.spec_th {
    display: table-cell;
    width: 25%;
    padding: 72px 0;
    border-top: 1px solid #ccc;
    vertical-align: top;
}

.spec_row:first-child .spec_th {
    border-top: 0;
}

.spec_td {
    display: table-cell;
    padding: 23px 0 70px;
    border-top: 1px solid #ccc;
    vertical-align: top;
}

.spec_row:first-child .spec_td {
    border-top: 0;
}

.spec-list li {
    display: inline-block;
    width: 45%;
    margin-top: 45px;
    vertical-align: top;
    padding-right: 24px;
}

.spec-list li .header {
    font-weight: 700;
}

footer {
    background-color: #AB6C82;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

.form-page-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../images/form-page-hero-2000x1333.jpg') no-repeat;
    background-size: cover;
    margin-top: 68px;
}

.form-page-hero .content {
    position: relative;
    max-width: 35%;
    margin-left: 10%;
}

.form-page-hero-price {
    font-size: 26px;
    margin-top: 20px;
}

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
}

.forms-pre-order {
    margin: 0 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    padding: 30px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 35px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    h1 {
        font-size: 358%;
    }
    
    .top-nav-desktop h2 {
        font-size: 30px;
        margin-top: 8px;
        margin-left: 10px;
        padding: 0;
      }
    
    .top-nav-form-page h2 {
        font-size: 30px;
        margin-top: 10px;
        padding: 0;
      }

    .top-nav-desktop a {
        padding: 10px 7px;
      }

    .hero .content {
        max-width: 45%;
    }

    .text-content-left, .media-content-right, .text-content-right, .media-content-left {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin-top: 40px;
    }

    .features-row {
        height: auto;
    }

    .three-images {
        height: 25vh;
    }

    .color-circle-container {
        max-width: 100%;
    }

    .color-circle {
        width: 100px;
        height: 100px;
        line-height: 276px;
        margin: 0 10px;
    }

    .table-container {
        width: 80%;
    }

    .spec_th {
        width: 30%;
    }

    .spec-list li {
        width: 42%;
    }

    .form-page-hero .content {
        max-width: 75%;
    }
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 280%;
        letter-spacing: -1.5px;
        line-height: 90%;
    }
    
    h2 {
        font-size: 200%;
    }

    .top-nav-desktop {
        display: none;
    }

    .top-nav-burger {
        display: block;
    }

    .top-nav-form-page h2 {
        font-size: 30px;
        margin-top: 10px;
        margin-left: 6px;
        padding: 0;
      }

    .top-nav-form-page a {
        padding: 14px 8px;
    }

    .logo {
        font-size: 30px;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 5px;
     } 

    .hero {
        height: 800px;
        background: url('../images/product-page-hero-mobile-600x1000px.jpg') no-repeat center center;
        background-size: cover;
        margin-top: -15px;
    }

    .hero .content {
        max-width: 100%;
        margin-left: 0%;
        color: #fff;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        padding: 10%;
        margin-top: -20px;
    }

    .form-page-hero {
        background-position-x: center;
        background-position-y: center;
    }

    .form-page-hero .content {
        max-width: 100%;
        height: 100vh;
        margin-left: 0%;
        margin-bottom: -267px;
    }

    .text-container-left {
        justify-content: flex-end;
    }


    .features-row {
        height: auto;
    }

    .text-content-left, .media-content-right, .text-content-right, .media-content-left {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin-top: 40px;
    }

    .three-images {
        height: 20vh;
    }

    .color-container {
        padding: 0 20px;
        margin-top: 40px;
    }

    .color-circle-container {
        max-width: 100%;
    }

    .color-circle-content {
        max-width: 100%;
    }

    .color-circle  {
        width: 50px;
        height: 50px;
        margin: 0 6px;
        line-height: 150px;
    }

    .table-container {
        width: 100%;
        margin-left: 20px;
    }

    .spec_th {
        display: block;
        width: 100%;
        padding: 30px 0 0;
        border-top: 1px solid #ccc;
    }

    .spec_td {
        display: block;
        border-top: none;
        padding: 23px 0 40px;
    }

    .spec-list li {
        display: inline-block;
        width: 42%;
        margin-top: 25px;
    }
    
    .forms-pre-order {
        margin: 0;  
        max-width: 100%; 
        background-color: rgba(60, 60, 60, 0.8);
    }

    .form-footer {
        margin-top: 140%;
    }
}