@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #111111;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 73px;
    letter-spacing: -1.5px;
    line-height: 65px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 46px;
    letter-spacing: -0.5px;
}

header {
    background: red;
}

#logo {
    text-align: center;
}

#menu {
    position: fixed;
    top: 30px;
    right: 30px;
}

#menu ul {
    direction: rtl;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#hero {
    position: relative;
    width: 100%;
    height: 80vh;
}

#hero #content-container-left {
    position: absolute;
    top: 20%;
    left: 10%;
    float: left;
    width: 50%;
}

#hero .content {
    max-width: 400px;
}

#hero #image-container-right {
    float: right;
    width: 50%;
    overflow: hidden;
}

#hero #image-container-right img {
    width: auto;
    height: 100%;
    object-fit: cover;
}